@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Maname&family=Patrick+Hand+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.patrick-hand-sc-regular {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    @apply bg-black text-white patrick-hand-sc-regular;
}

.transition-all-effects {
    @apply transition-all ease-in-out duration-300;
}